* {
  margin: 0;
  padding: 0;
}

#main_heading {
  width: 95%;
  margin: 10px auto;

  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  font-size: 50px;
  padding: 5px 0;
  box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.514);
  /* box-shadow: 6px 0px 10px 5px rgba(5, 110, 110, 0.322); */
  /* border-bottom: 2px dotted red; */
}
#container {
  background-color: white;
  padding: 25px;
  width: 90.5%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 6px 4px 7px rgba(0, 0, 0, 0.514);
}

#container h3 {
  color: blueviolet;
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;

  width: 45%;
  margin: 0 auto;
}
#container ol {
  /* display: block;
  box-shadow: 6px 0px 10px 5px rgb(202, 247, 247); */
  padding: 10px;
}

#first_list span,
#second_list span,
#third_list span {
  background-color: blueviolet;
}
#nested1 li,
#nested2 li,
#nested3 li {
  list-style: square;
  margin-left: 30px;
}

footer {
  /* box-shadow: 6px 0px 10px 5px rgba(5, 110, 110, 0.322); */
  text-align: center;
}
