* {
  margin: 0;
  padding: 0;
}

#main_heading {
  width: 90%;

  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  margin: 10px auto;

  padding: 5px 0;
  box-shadow: 6px 0px 10px 5px rgba(5, 110, 110, 0.322);
  /* border-bottom: 2px dotted red; */
}
#container {
  background-color: #ffffff;
  padding: 25px;
  width: 85%;
  margin: 0 auto;
  box-shadow: 6px 0px 10px 5px rgba(5, 110, 110, 0.322);
}
#container h3 {
  color: blueviolet;
  background-color: rgba(250, 235, 215, 0.678);
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;

  width: 35%;
  margin: 0 auto;
  margin-bottom: 10px;
}
#container ol {
  list-style: none;
}
.center-align {
  text-align: center;
  /* list-style: none; */
}
#first_list span {
  background-color: rgb(52, 247, 3);
  color: blueviolet;
  display: block;
  padding: 5px;
  width: 8%;
  margin: 0 auto;
}
#second_list span {
  background-color: rgb(52, 247, 3);
  color: blueviolet;
  display: block;
  padding: 5px;
  /* width: 6%; */
  margin: 0 auto;
}
#third_list span {
  background-color: rgb(52, 247, 3);
  color: blueviolet;
  display: block;
  padding: 5px;
  width: 15%;
  margin: 0 auto;
}

#nested1 li,
#nested2 li,
#nested3 li {
  list-style: none;
  margin-left: 20px;
}
/* #container ol {
  list-style-position: outside;
} */

/* #container ul {
  list-style-position: inside;
} */
